body{
  background-color: #001632;
  color: white;
}
.my-container{
  width: 800px;
}
.grid-easy{
  width: 600px;
  height: 600px;
}
.grid-middle{
  width: 500px;
  height: 500px;
}
.grid-hard{
  width: 500px;
  height: 500px;
}

.square{
  border: 3px solid white;
  display: inline-block;
}
.easy{
  width: calc(100% / 10);
  height: calc(100% / 10);
}
.middle{
  width: calc(100% / 9);
  height: calc(100% / 9);
}
.hard{
  width: calc(100% / 7);
  height: calc(100% / 7);
}
.active{
  background-color: #00df6b;
}